name: Hello Demo

on:
  push:
    branches:
      - main

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Greetings
        run: |
          echo "Hello Demo"
          echo "This is a test run"
